.problem1 > div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0px 0px -175px;
    text-align: center;
    width: 350px;
    height: 200px;
    line-height: 200px;
    background: #999;
    color: #f5f5f5;
}