.problem2 > h1 {
    font-size: 72px;
    color: #ff69b4;
    text-shadow: 1px 1px #333, 
        2px 2px #333, 
        3px 3px #333,
        4px 4px #333,
        5px 5px #333,
        5px 5px 10px #000;
}